
.btn{
	opacity: 80%;
	padding: 14px;
	padding-left: 14%;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	align-items: center;
	transition: background-color 0.3s, opacity 0.3s;

}
.btn:hover{
	transform: scale(1.05); 
	opacity: 10;

}

h1{
	margin: 0 !important;
}